<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pàdel Puig-reig - Reserva</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/reservation.css" rel="stylesheet">

    <!-- Date picker -->
    <link rel='stylesheet' href='vendor/pickadate/themes/default.css' />
    <link rel='stylesheet' href='vendor/pickadate/themes/default.date.css' />

  </head>

  <body id="page-top">
    <div id="app">

    <!-- Navigation -->
    <nav class="navbar navbar-dark" id="mainNav">
      <div class="container">
        <a class="back-arrow" href="./index.html">
          <i class="material-icons">&#xE314;</i>
        </a>
        <a class="js-scroll-trigger logo-padel-link" href="#page-top">
          <img class="img-logo-padel" src="img/logo_amb_lletres_v3.png" alt="">
        </a>
        <a class="help-link" v-on:click="showHelp">
          <i class="material-icons">&#xE887;</i>
        </a>
        <a class="account-info-link" v-on:click="showProfileDialog">
          <i class="material-icons">&#xE853;</i>
        </a>
      </div>
    </nav>

    <!-- Calendar grid -->
    <div class="container" id="reservation-container">
        <div class="row date-selector">
          <button type="button" id="btn-previous-date" class="col btn-change-date btn btn-secondary" v-on:click="getToPreviousDate" :disabled="!backDateAvailable">&laquo;</button>
          <!-- <label class="col-8 current-selected-date-label" id="current-selected-date-label"> {{ currentSelectedDate }} </label> -->
          <input id="datepicker" class="col-8 current-selected-date-label" type="text" v-model="currentSelectedDate">
          <button type="button" id="btn-next-date" class="col btn-change-date btn btn-secondary" v-on:click="getToNextDate">&raquo;</button>
        </div>

        <div id='reservation' role="toolbar">
 
          <button class="btn btn-link collapse-hours-btn" data-toggle="collapse" data-target="#reservation-row1" aria-expanded="true" aria-controls="reservation-row1">
                Matí
                <i class="showing-arrow-icon material-icons">&#xE313;</i>
                <i class="hiding-arrow-icon material-icons">&#xE316;</i>
              </button>

          <div class="row collapse show row-hour-selection" id="reservation-row1">
            <div class='col reservation-hour-div' v-bind:class="hour.state" :hourValue="hour.id" v-for="hour in hours" v-if="hour.isMorning" v-on:click="selectHour">
              <p class='reservation-hour-label'> {{ hour.id }} </p>
              <p class='reservation-hour-state'> {{ hour.state }} </p>
              <i class="material-icons state-icon">{{ getIcon(hour) }}</i>
            </div>
          </div>

          <!-- Ini Siluetes -->
          <div class="siluetes_div">
            <img v-bind:src="getSilueta(false, true)" class="reservation-row-wall" id="reservation-row-wall-1">
            <img v-bind:src="getSilueta(true, true)" class="reservation-row-wall" id="reservation-row-wall-2">
          </div>
          <!-- Fi Siluetes -->

          <button class="btn btn-link collapse-hours-btn" data-toggle="collapse" data-target="#reservation-row2" aria-expanded="true" aria-controls="reservation-row1">
                Tarda
                <i class="showing-arrow-icon material-icons">&#xE313;</i>
                <i class="hiding-arrow-icon material-icons">&#xE316;</i>
              </button>
          <div class="row collapse show row-hour-selection" id="reservation-row2">
            <div class='col reservation-hour-div' v-bind:class="hour.state" :hourValue="hour.id" v-for="hour in hours" v-if="!hour.isMorning" v-on:click="selectHour">
              <p class='reservation-hour-label'> {{ hour.id }} </p>
              <p class='reservation-hour-state'> {{ hour.state }} </p>
              <i class="material-icons state-icon">{{ getIcon(hour) }}</i>
              <i v-if="hour.lightsOn" class="material-icons light-icon">&#xE90F;</i>
            </div>
            <div v-bind:class="hours['23:30'].state" class="reservation-hour-last-div">
              <p class='reservation-hour-label reservation-hour-last-label'> 24:00 </p>
            </div>
          </div>

          <!-- Ini Siluetes row 2 -->
          <div class="siluetes_div">
            <img v-bind:src="getSilueta(true, false)" class="reservation-row-wall" id="reservation-row-wall-3">
            <img v-bind:src="getSilueta(false, false)" class="reservation-row-wall" id="reservation-row-wall-4">
          </div>
          <!-- Fi Siluetes row 2 -->

          <!-- Bottom panel -->
          <transition name="fade">
            <div class="bottom-panel fixed-bottom" v-show="showAddReservationPanel()">
              <div class="row" id="info-selection-label-row"><p class="reservation-summary" v-html="currentSelectedReservation()"></p></div>
              <div class="row justify-content-md-center" id="reservation-row-btn">
                <div class="col">
                  <button type="button" class="btn btn-secondary text-center" :disabled="btnClearReservationState()" v-on:click="clearReservation">Esborrar selecció</button>
                </div>
                <div class="col">
                  <button type="button" id="reservation-btn" class="btn btn-success text-center" :disabled="btnAddReservationState()" v-on:click="addNewReservation">Reservar</button>
                </div>
              </div>
            </div>
          </transition>
        </div>
    </div>

    <!-- Loader -->
    <transition name="fade">
      <div class="loader-view" v-show="loading">
        <img src="./img/logo_amb_lletres.png" class="loading-logo"> 
        <div class="loader"></div>
      </div>
    </transition>

    <!-- Confirm dialog -->
    <div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Confirmar reserva</h2>
                  <p class="item-intro text-muted">Confirma les dades de la reserva</p>
                  <ul class="list-inline">
                    <li><span class="list-key">Dia:</span> {{ currentSelectedDate }}</li>
                    <li><span class="list-key">Hora inici:</span> {{ hourIniLabel() }} h</li>
                    <li><span class="list-key">Hora fi:</span> {{ hourFiLabel() }} h</li>
                    <li><span class="list-key">Preu:</span> {{ currentReservationPrice }}€</li>
                  </ul>
                  <button type="button" id="confirm-reservation-btn" class="btn btn-success text-center" v-on:click="confirmNewReservationAdminUser">Confirmar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="canvas-container">
      <canvas id="canvas" width="375" height="812"></canvas>
      <p class="help-text"> {{ helpText }} </p>
    </div>

    <!-- Profile dialog -->
    <div class="modal fade" id="profileDialog" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Perfil</h2>
                  <p class="item-intro text-muted">Aquestes són les teves dades</p>
                  <div id="user-show-info" v-show="!editingUserData">
                    <ul class="list-inline">
                      <li>
                        <span class="list-key">Nom:</span> 
                        <span v-if="user.displayName !== undefined && user.displayName !== ''">{{ user.displayName }}</span>
                        <span v-if="user.displayName === undefined || user.displayName === ''" class="list-value-undefined">No disponible</span>
                      </li>
                      <li><span class="list-key">Email:</span> {{ user.email }}</li>
                      <li>
                        <span class="list-key">Telèfon:</span>
                        <span v-if="user.phone !== undefined && user.phone != ''">{{ user.phone }}</span>
                        <span v-if="user.phone === undefined || user.phone == ''" class="list-value-undefined">No disponible</span>
                      </li>
                      <li><span class="list-key">Cupons:</span> {{ Object.keys(user.cupons).length }}</li>
                    </ul>
                    <ul id="cupons-list list-inline">
                      <li v-for="cupo in user.cupons">
                        <span class="list-key">{{ cupo.value }}€</span> <span class="list-value-undefined">Caduca el {{ cupo.expiredDate }}</span>
                      </li>
                    </ul>
                    <button type="button" id="change-profile-btn" class="btn btn-success text-center" v-on:click="changeUserData">Modificar dades</button>
                  </div>
                  <div id="user-change-info" v-show="editingUserData">
                    <ul class="list-inline">
                      <li>
                        <label class="list-key profile-key">Nom:</label> 
                        <input class="profile-input" v-model="userCopy.displayName">
                      </li>
                      <li>
                        <label class="list-key profile-key">Email:</label> 
                        <input class="profile-input" v-model="userCopy.email">
                      </li>
                      <li>
                        <label class="list-key profile-key">Telèfon:</label>
                        <input class="profile-input" v-model="userCopy.phone">
                      </li>
                    </ul>
                    <div class="row">
                      <div class="col col-left">
                        <button type="button" id="cancel-change-profile-btn" class="btn btn-secondary text-center" v-on:click="cancelNewUserData">Cancel·lar</button>
                      </div>
                      <div class="col col-right">
                        <button type="button" id="confirm-change-profile-btn" class="btn btn-success text-center" v-on:click="confirmNewUserData">Confirmar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Success dialog -->
    <div class="modal fade" id="successDialog" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Reserva realitzada</h2>
                  <p class="item-intro text-muted">La reserva s'ha realitzat correctament</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Error dialog -->
    <div class="modal fade" id="errorDialog" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Reserva realitzada</h2>
                  <p class="item-intro text-muted">La reserva s'ha realitzat correctament</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vue -->
    <script src="vendor/vue/vue.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/moment/moment.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Date picker -->
    <script src="vendor/pickadate/picker.js"></script>
    <script src="vendor/pickadate/picker.date.js"></script>
    <script src="vendor/pickadate/picker.time.js"></script>
    <script src="vendor/pickadate/legacy.js"></script>
    <script src="vendor/pickadate/translations/ca_ES.js"></script>

    <script src="vendor/rough/rough.js"></script>

     <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-database.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBWHJyCuBJnG_hLK67yBtNKBwQNs_C5iCg",
        authDomain: "accesscontrol-f2410.firebaseapp.com",
        databaseURL: "https://accesscontrol-f2410.firebaseio.com",
        projectId: "accesscontrol-f2410",
        storageBucket: "accesscontrol-f2410.appspot.com",
        messagingSenderId: "1080277297588"
      };
      firebase.initializeApp(config);
    </script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/reservation.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

    </div>
  </body>

</html>
